.header_favorite {
    padding-inline: unset;
    text-align: left;
}
.header_icon {
    padding-left: 10px;
    padding-right: 10px;
}
.header {
    --background: none;
    --border-width: 0!important;
}
.login_custom {
    position: absolute;
    right: 0;
    top: 5px;
    height: 26px;
}
.login_text {
    font-size: 12px;
}
.header_favorite_icon {
    position: absolute;
    right: 12px;
    font-size: 22px;
}
.header_favorite_add_icon {
    position: absolute;
    right: 50px;
    font-size: 24px;
}